@charset "UTF-8";

table.iolist {
  width: 80%;
  margin: 10px auto;
  border-collapse: separate;
  background-color: #eee;
}

table.iolist tbody tr {
  &:nth-of-type(odd) {
    background-color: #ddd;
  }
  &:hover {
    background-color: #eee;
    cursor: pointer;
  }
}
tr.output {
  color: blue;
}

table.iolist th,
table.iolist td {
  text-align: left;
  padding: 12px 16px;
  white-space: nowrap;
  border-bottom: 1px solid #777;
  border-top: 1px solid white;
}

table.iolist th {
  color: blue;
}

table.iolist td.number {
  text-align: right;
}

div.iolist.btn_box {
  width: 80%;
  margin: 5px auto;
  text-align: right;

  a {
    display: inline-block;
    padding: 12px 16px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    &:hover {
      background-color: #777;
      color: black;
    }
  }
}

form.iolist {
  width: 80%;
  margin: 10px auto;
  fieldset {
    border: 1px solid #999;
    legend {
      font-size: 1.3rem;
      color: #777;
      font-weight: 900;
      text-align: center;
    }
  }
}

form.iolist {
  div {
    display: flex;
    gap: 3px;
    padding: 5px 10px;

    label,
    input,
    select {
      padding: 8px;
    }
    label {
      flex: 1;
      text-align: right;
    }
    input,
    select {
      flex: 3;
      border: 1px solid #ddd;
      outline: none;
      border-radius: 10px;
    }
  }
}

div.iolist.detail {
  width: 80%;
  margin: 10px auto;
  background-color: #ddd;

  div {
    display: flex;
    gap: 2px;
    strong,
    span {
      flex: 1;
      border: 1px solid white;
      padding: 8px;
    }
    strong {
      font-weight: 900;
      background-color: #ccc;
      text-align: right;
    }
  }
}

div.iolist.detail div:nth-last-of-type(1) {
  text-align: center;
  a {
    display: inline-block;
    padding: 12px 16px;
    margin-left: 5px;
    background-color: #aaa;
  }
}
