@charset "UTF-8";
section.image.list {
  width: 90%;
  margin: 5px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

div.image.item {
  width: 200px;
  border: 1px solid blue;
  header {
    width: 100%;
    padding: 0.8rem;
    background-color: #aaa;
  }
  img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px black;
    transition: 0.7s;
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
  div {
    background-color: #ccc;
  }
}
