<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>나의 홈페이지</title>
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <h1>나의 홈페이지</h1>
    <h2 th:text="${NAME}">나는 홍길동 입니다</h2>

    <a href="/" th:href="@{/}">홈</a>
    <a href="/gallery/insert" th:href="@{/gallery/insert}"
      >이미지 업로드</a
    >
    <section class="main" layout:fragment="content"></section>
  </body>
</html>
