<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/home}"
>
  <section layout:fragment="content">
    <link
      rel="stylesheet"
      href="../../../static/css/user.css"
      th:href="@{/static/css/user.css}"
    />
    <form method="POST" class="user join" th:action>
      <fieldset>
        <legend>회원가입</legend>
        <div><input type="text" placeholder="USERNAME" /></div>
        <div><input type="text" placeholder="PASSWORD" /></div>
        <div><input type="text" placeholder="Email" /></div>
        <div><input type="text" placeholder="TEL" /></div>
        <div><input type="submit" value="회원가입" /></div>
      </fieldset>
    </form>
  </section>
</html>
