<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.iolist.persistance.IolistDao">
 
 	<select id="selectAll">
 		SELECT *,
 			IF(io_input = '1', '매입','매출') AS io_inout,
	 		IF(io_input = '1', io_price, 0) AS io_iprice,
	 		IF(io_input = '2', io_price, 0) AS io_oprice, 
	
	 		IF(io_input = '1', io_price * io_quan, 0) AS io_itotal,
	 		IF(io_input = '2', io_price * io_quan, 0) AS io_ototal 
 		
 		FROM tbl_iolist
 		ORDER BY io_date DESC, io_time DESC
 	</select>
 	<select id="findBySeq">
			SELECT *,
	 			IF(io_input = '1', '매입','매출') AS io_inout,
		 		IF(io_input = '1', io_price, 0) AS io_iprice,
		 		IF(io_input = '2', io_price, 0) AS io_oprice, 
		
		 		IF(io_input = '1', io_price * io_quan, 0) AS io_itotal,
		 		IF(io_input = '2', io_price * io_quan, 0) AS io_ototal 
		
			FROM tbl_iolist
			WHERE io_seq = #{io_seq}
 	
 	</select>
 
 	<insert id="insertOrUpdate" parameterType="IolistVO">
		 	INSERT INTO tbl_iolist(
		 		io_seq,	io_date,io_time,io_input,io_pname,io_price,io_quan,	io_total
			) VALUES( 
				#{io_seq},#{io_date},#{io_time},#{io_input},#{io_pname},#{io_price},#{io_quan},#{io_total}
			)
			ON DUPLICATE KEY UPDATE
				io_date = #{io_date},
				io_time = #{io_time},
				io_input = #{io_input},
				io_pname = #{io_pname},
				io_price = #{io_price},
				io_quan = #{io_quan},	
				io_total = #{io_total}	
 	</insert>
 	<update id="update"></update>
 	
 	<select id="create_iolist_table">
	 	CREATE TABLE IF NOT EXISTS tbl_iolist (
			io_seq	BIGINT		PRIMARY KEY	AUTO_INCREMENT,
			io_date	VARCHAR(10)	NOT NULL,		
			io_time	VARCHAR(10)	NOT NULL,		
			io_input	VARCHAR(1)	NOT NULL,		
			io_pname	VARCHAR(30)	NOT NULL,		
			io_price	INT	NOT NULL,		
			io_quan	INT	NOT NULL,		
			io_total	INT			
		)
 	</select>
 	
 
 </mapper> 