<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/home}"
>
  <section layout:fragment="content">
    <link
      rel="stylesheet"
      href="../../../static/css/gallery.css"
      th:href="@{/static/css/gallery.css}"
    />
    <section class="gallery">
      <a href="../gallery/input.html" th:href="@{/gallery/insert}"
        >이미지 업로드</a
      >
    </section>
    <section class="gallery container">
      <div class="gallery card" th:each="GA:${GALLERYS}">
        <div>
          <a
            th:href="@{/upload/{image}(image=${GA.g_up_image})}"
            target="_new"
          >
            <img
              th:src="@{/upload/{image}(image=${GA.g_up_image})}"
              src="../../../static/images/no_image.png"
              width="100px"
              th:alt="${GA.g_origin_image}"
            />
          </a>
        </div>
        <h3 th:text="${GA.g_subject}" class="galley subject">
          이미지 제목
        </h3>
      </div>
    </section>
  </section>
</html>
