form.user {
  width: 80%;
  margin: 20px auto;
  fieldset {
    padding: 20px;
  }
  legend {
    text-align: center;
  }
  div {
    width: 90%;
    margin: 5px auto;
    input {
      width: 100%;
      padding: 8px;
      border: 2px solid #ddd;
      border-radius: 10px;
      outline: none;
      &:hover {
        background-color: #ddd;
      }
      &:focus {
        border: 2px solid #aaa;
      }
    }
  }
}

div.error {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  color: #721c24;
  text-align: center;
}
